In [58]:
import numpy as np
import matplotlib.pylab as plt
from scipy.io import loadmat, whosmat
import datetime
import pandas as pd
from pandas import DataFrame

In [59]:
battery = 'B0005'
data_set = loadmat("../data/mat/"+battery+".mat")
print(type(data_set))

<class 'dict'>

In [60]:
for i in data_set:
    print(i)

__header__
__version__
__globals__
B0005

In [5]:
val = data_set.get('B0005')

In [6]:
val.ndim

2

In [7]:
val.flags

  C_CONTIGUOUS : True
  F_CONTIGUOUS : True
  OWNDATA : False
  WRITEABLE : True
  ALIGNED : True
  WRITEBACKIFCOPY : False
  UPDATEIFCOPY : False

In [8]:
val.size

1

In [9]:
val.shape

(1, 1)

In [54]:
len(data_set[battery][0, 0]['cycle'])

1

In [55]:
# 길이가 사이클의 수
print("len: ",len(data_set[battery][0, 0]['cycle'][0]))
print("size: ",data_set[battery][0, 0]['cycle'][0].size)

len:  616
size:  616

In [56]:
# data type: charge, discharge, impedance
print("size:",data_set[battery][0, 0]['cycle'][0, 0]['type'].size)
print(data_set[battery][0, 0]['cycle'][0, 0]['type'])
print("len", len(data_set[battery][0, 0]['cycle'][0, 0]['type']))
print("size:", data_set[battery][0, 0]['cycle'][0, 0]['type'][0].size)
print(data_set[battery][0, 0]['cycle'][0, 0]['type'][0])
print("len:",len(data_set[battery][0, 0]['cycle'][0, 0]['type'][0]))

size: 1
['charge']
len 1
size: 1
charge
len: 6

In [57]:
print(data_set[battery][0, 0]['cycle'][0, 1]['data'][0][0]['Capacity'][0][0])

1.8564874208181574

In [66]:
# 주변 온도

print(data_set[battery][0, 0]['cycle'][0, 0]['ambient_temperature'][0])
print(data_set[battery][0, 0]['cycle'][0, 0]['ambient_temperature'][0][0])
print(data_set[battery][0, 0]['cycle'][0, 0]['ambient_temperature'][0][0].size)

[24]
24
1

In [68]:
# 시간
date_time = datetime.datetime(int(data_set[battery][0, 0]['cycle'][0, 0]['time'][0][0]), #year
                               int(data_set[battery][0, 0]['cycle'][0, 0]['time'][0][1]), #month
                               int(data_set[battery][0, 0]['cycle'][0, 0]['time'][0][2]), #day
                               int(data_set[battery][0, 0]['cycle'][0, 0]['time'][0][3]), # hour
                               int(data_set[battery][0, 0]['cycle'][0, 0]['time'][0][4])) + datetime.timedelta(seconds=int(data_set[battery][0, 0]['cycle'][0, 0]['time'][0][5]))

print(date_time)

2008-04-02 13:08:17

In [75]:
# 데이터 추출
data_set[battery][0, 0]['cycle'][0, 0]['data']
# Voltage_measured, Current_measured, Temperature_measured, Current_charge, Voltage_charge, Time
print(len(data_set[battery][0, 0]['cycle'][0, 0]['data'][0][0]))
# 데이터 개수
print(len(data_set[battery][0, 0]['cycle'][0, 0]['data'][0][0]['Voltage_measured'][0]))
# 값
print(data_set[battery][0, 0]['cycle'][0, 0]['data'][0][0]['Voltage_measured'][0][0])

6
789
3.873017221300996

In [122]:
print(data_set[battery][0, 0]['cycle'][0, 40]['type'][0])
print(len(data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Sense_current'][0]))
print(data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Re'][0])
print("Re", data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Re'][0][0])
print(len(data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Battery_impedance'][0]))
print(data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Battery_impedance'][0].size)
print(data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Battery_impedance'][0])
print(data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Battery_impedance'][0][0])
print(data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Battery_impedance'][1][0])



tsf = data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Sense_current'][0][1]
print(tsf)
print(np.real(tsf))
print(np.imag(tsf))

impedance
48
[0.0446687]
Re 0.04466870036616091
1
1
[-0.43892625-0.1072983j]
(-0.43892624830326377-0.107298295835479j)
(0.13008840651776496-0.19711481029612374j)
(820.6094970703125-36.23455047607422j)
820.6094970703125
-36.23455047607422

In [135]:
print(len(data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]))
print(data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Rectified_Impedance'][0][0])
print(data_set[battery][0, 0]['cycle'][0, 40]['data'][0][0]['Rectified_Impedance'][0][0].size)
print()

7
(0.07006937798290404-0.00047998469078178944j)
1
39

In [149]:
chdataset = []
disdatset = []
impedataset = []
capacity_data = []
rectidataset = []
reNrct_data = []
for cycle_len in range(len(data_set[battery][0, 0]['cycle'][0])):
    row = data_set[battery][0, 0]['cycle'][0, cycle_len] # 각 사이클에 대한 데이터 불러오기
    if row['type'][0] == 'charge':
        
        # 전체 날짜
        date_time =  datetime.datetime(int(row['time'][0][0]),
                               int(row['time'][0][1]),
                               int(row['time'][0][2]),
                               int(row['time'][0][3]),
                               int(row['time'][0][4])) 
        + datetime.timedelta(seconds=int(row['time'][0][5]))
        
        # 주변 온도
        ambient_temperature = row['ambient_temperature'][0][0]
        
        # 각 데이터
        data = row['data']
        for index in range(len(data[0][0]['Voltage_measured'][0])):
            voltage_measured = data[0][0]['Voltage_measured'][0][index]
            current_measured = data[0][0]['Current_measured'][0][index]
            temperature_measured = data[0][0]['Temperature_measured'][0][index]
            current_charge = data[0][0]['Current_charge'][0][index]
            voltage_charge = data[0][0]['Voltage_charge'][0][index]
            time = data[0][0]['Time'][0][index]
            
            chdataset.append([cycle_len,
                              date_time,
                              ambient_temperature,
                              voltage_measured,
                              current_measured,
                              temperature_measured,
                              current_charge,
                              voltage_charge,
                              time])
            
    elif row['type'][0] == 'discharge':
        # 전체 날짜
        date_time =  datetime.datetime(int(row['time'][0][0]),
                               int(row['time'][0][1]),
                               int(row['time'][0][2]),
                               int(row['time'][0][3]),
                               int(row['time'][0][4])) 
        + datetime.timedelta(seconds=int(row['time'][0][5]))
        
        # 주변 온도
        ambient_temperature = row['ambient_temperature'][0][0]
        
        # 각 데이터
        data = row['data']
        
        # 배터리 용량
        capacity = data[0][0]['Capacity'][0][0]
        
        for index in range(len(data[0][0]['Voltage_measured'][0])):
            voltage_measured = data[0][0]['Voltage_measured'][0][index]
            current_measured = data[0][0]['Current_measured'][0][index]
            temperature_measured = data[0][0]['Temperature_measured'][0][index]
            current_load = data[0][0]['Current_load'][0][index]
            voltage_load = data[0][0]['Voltage_load'][0][index]
            time = data[0][0]['Time'][0][index]
            
            disdatset.append([cycle_len,
                              date_time,
                              ambient_temperature,
                              voltage_measured,
                              current_measured,
                              temperature_measured,
                              current_load,
                              voltage_load,
                              time])
            capacity_data.append([cycle_len,
                                  date_time,
                                  ambient_temperature,
                                  capacity])
    else:
        data = row['data']
        
        re = data[0][0]['Re'][0][0]
        rct = data[0][0]['Rct'][0][0]
        
        re_im_len = len(data[0][0]['Rectified_Impedance'])
        sen_c_len = len(data[0][0]['Sense_current'][0])
        
        if re_im_len != sen_c_len:
            for index in range(len(data[0][0]['Rectified_Impedance'])):
                rectified_impedance = data[0][0]['Rectified_Impedance'][index][0]
                re_im_real = np.real(rectified_impedance)
                re_im_imag = np.imag(rectified_impedance)
                
                rectidataset.append([cycle_len,
                                    re_im_real,
                                    re_im_imag])
            
        for index in range(len(data[0][0]['Sense_current'][0])):
            sense_current = data[0][0]['Sense_current'][0][index]
            sense_real = np.real(sense_current)
            sense_imag = np.imag(sense_current)
                
            battery_current = data[0][0]['Battery_current'][0][index]
            battery_c_real = np.real(battery_current)
            battery_c_imag = np.imag(battery_current)
                
            current_ratio = data[0][0]['Current_ratio'][0][index]
            ratio_real = np.real(current_ratio)
            ratio_imag = np.imag(current_ratio)
                
            battery_impedance = data[0][0]['Battery_impedance'][index][0]
            battery_im_real = np.real(battery_impedance)
            battery_im_imag = np.imag(battery_impedance)
                
            impedataset.append([cycle_len,
                                sense_real,
                                sense_imag,
                                battery_c_real,
                                battery_c_imag,
                                ratio_real,
                                ratio_imag,
                                battery_im_real,
                                battery_im_imag])
                
            reNrct_data.append([cycle_len,
                                re,
                                rct])

In [150]:
chdf = pd.DataFrame(data=chdataset,
                    columns =['cycle',
                              'date_time',
                              'ambient_temperature',
                              'voltage_measured',
                              'current_measured',
                              'temperature_measured',
                              'current_charge',
                              'voltage_charge',
                              'time'])

disdf = pd.DataFrame(data=disdatset,
                    columns =['cycle',
                              'date_time',
                              'ambient_temperature',
                              'voltage_measured',
                              'current_measured',
                              'temperature_measured',
                              'current_charge',
                              'voltage_charge',
                              'time'])
capacity = pd.DataFrame(data=capacity_data,
                       columns = ['cycle',
                                  'data_time',
                                  'ambient_temperature',
                                  'capacity'])

In [151]:
imdf = pd.DataFrame(data=impedataset,
                       columns = ['cycle',
                                  'sense_real',
                                  'snese_imag',
                                  'battery_c_real',
                                  'battery_c_imag',
                                  'ratio_real',
                                  'ratio_imag',
                                  'battery_im_real',
                                  'battery_im_imag'])

reimdf = pd.DataFrame(data=rectidataset,
                       columns = ['cycle',
                                  're_im_real',
                                  're_im_imag'])

rercdf = pd.DataFrame(data=reNrct_data,
                       columns = ['cycle',
                                  're',
                                  'rct'])

In [152]:
chdf

,cycle,date_time,ambient_temperature,voltage_measured,current_measured,temperature_measured,current_charge,voltage_charge,time
0,0,2008-04-02 13:08:00,24,3.873017,-0.001201,24.655358,0.000,0.003,0.000
1,0,2008-04-02 13:08:00,24,3.479394,-4.030268,24.666480,-4.036,1.570,2.532
2,0,2008-04-02 13:08:00,24,4.000588,1.512731,24.675394,1.500,4.726,5.500
3,0,2008-04-02 13:08:00,24,4.012395,1.509063,24.693865,1.500,4.742,8.344
4,0,2008-04-02 13:08:00,24,4.019708,1.511318,24.705069,1.500,4.753,11.125
...,...,...,...,...,...,...,...,...,...
541168,615,2008-05-28 11:09:00,24,0.236356,-0.003484,23.372048,0.000,0.003,0.000
541169,615,2008-05-28 11:09:00,24,0.003365,-0.001496,23.369434,0.000,0.003,2.547
541170,615,2008-05-28 11:09:00,24,4.985137,0.000506,23.386535,0.000,5.002,5.500
541171,615,2008-05-28 11:09:00,24,4.984720,0.000442,23.386983,-0.002,5.002,8.312
541172,615,2008-05-28 11:09:00,24,4.213440,-0.000734,23.385061,-0.002,4.229,12.656

In [153]:
disdf

,cycle,date_time,ambient_temperature,voltage_measured,current_measured,temperature_measured,current_charge,voltage_charge,time
0,1,2008-04-02 15:25:00,24,4.191492,-0.004902,24.330034,-0.0006,0.000,0.000
1,1,2008-04-02 15:25:00,24,4.190749,-0.001478,24.325993,-0.0006,4.206,16.781
2,1,2008-04-02 15:25:00,24,3.974871,-2.012528,24.389085,-1.9982,3.062,35.703
3,1,2008-04-02 15:25:00,24,3.951717,-2.013979,24.544752,-1.9982,3.030,53.781
4,1,2008-04-02 15:25:00,24,3.934352,-2.011144,24.731385,-1.9982,3.011,71.922
...,...,...,...,...,...,...,...,...,...
50280,613,2008-05-27 20:45:00,24,3.579262,-0.001569,34.864823,0.0006,0.000,2781.312
50281,613,2008-05-27 20:45:00,24,3.581964,-0.003067,34.814770,0.0006,0.000,2791.062
50282,613,2008-05-27 20:45:00,24,3.584484,-0.003079,34.676258,0.0006,0.000,2800.828
50283,613,2008-05-27 20:45:00,24,3.587336,0.001219,34.565580,0.0006,0.000,2810.640
50284,613,2008-05-27 20:45:00,24,3.589937,-0.000583,34.405920,0.0006,0.000,2820.390

In [154]:
capacity

       cycle           data_time  ambient_temperature  capacity
0          1 2008-04-02 15:25:00                   24  1.856487
1          1 2008-04-02 15:25:00                   24  1.856487
2          1 2008-04-02 15:25:00                   24  1.856487
3          1 2008-04-02 15:25:00                   24  1.856487
4          1 2008-04-02 15:25:00                   24  1.856487
...      ...                 ...                  ...       ...
50280    613 2008-05-27 20:45:00                   24  1.325079
50281    613 2008-05-27 20:45:00                   24  1.325079
50282    613 2008-05-27 20:45:00                   24  1.325079
50283    613 2008-05-27 20:45:00                   24  1.325079
50284    613 2008-05-27 20:45:00                   24  1.325079

[50285 rows x 4 columns]

In [155]:
imdf

,cycle,sense_real,snese_imag,battery_c_real,battery_c_imag,ratio_real,ratio_imag,battery_im_real,battery_im_imag
0,40,-1.000000,1.000000,-1.000000,1.000000,1.000000,0.000000,-0.438926,-0.107298
1,40,820.609497,-36.234550,337.091461,-82.920776,2.320415,0.463305,0.130088,-0.197115
2,40,827.242188,-48.231228,330.631561,-70.013718,2.424193,0.367465,0.058771,0.033307
3,40,827.193481,-56.195717,330.808624,-61.734425,2.447002,0.286778,0.005814,-0.060547
4,40,824.929504,-53.241478,332.682678,-57.629013,2.434305,0.261646,0.126081,-0.090444
...,...,...,...,...,...,...,...,...,...
13339,614,915.489014,-64.045120,230.149506,91.909889,3.334835,-1.610038,0.245024,-0.049836
13340,614,916.725525,2.986217,212.188858,107.745811,3.440393,-1.732898,0.264594,-0.055235
13341,614,914.619629,126.111481,176.598038,131.682785,3.670656,-2.022960,0.288571,-0.058837
13342,614,880.340820,293.825287,136.847626,146.881027,4.060164,-2.210749,0.317700,-0.059127
13343,614,801.361816,450.083099,97.058853,150.046997,4.550338,-2.397324,0.352680,-0.053818

In [156]:
reimdf

       cycle  re_im_real    re_im_imag
0         40    0.070069 -4.799847e-04
1         40    0.068179 -1.190041e-03
2         40    0.067933 -5.682681e-05
3         40    0.066918 -8.787264e-04
4         40    0.068071 -1.974802e-04
...      ...         ...           ...
10837    614    0.051287 -9.816256e-04
10838    614    0.048027 -3.750248e-04
10839    614    0.047851 -9.521025e-04
10840    614    0.049161  8.241281e-07
10841    614    0.050301  4.471177e-04

[10842 rows x 3 columns]

In [157]:
rercdf

       cycle        re       rct
0         40  0.044669  0.069456
1         40  0.044669  0.069456
2         40  0.044669  0.069456
3         40  0.044669  0.069456
4         40  0.044669  0.069456
...      ...       ...       ...
13339    614  0.050036  0.074792
13340    614  0.050036  0.074792
13341    614  0.050036  0.074792
13342    614  0.050036  0.074792
13343    614  0.050036  0.074792

[13344 rows x 3 columns]